header {
    height: 10%;
    background-color: lightblue;
}

nav {
    height: 5%;
    background-color: lightgray;
}

#principal {
    display: flex;
    align-items: stretch;
}

article {
    width: 80%;
    background-color: lemonchiffon;
    min-height: 80%;
    
}

aside {
    width: 20%;
    background-color: lightsalmon;
    min-height: 80%;
}

footer{
    background-color: lightgreen;
    height: 5%;
}

#tabla1{
   

    border-radius: 36px 36px 36px 36px;
    -moz-border-radius: 36px 36px 36px 36px;
    -webkit-border-radius: 36px 36px 36px 36px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);

background: rgba(243,226,199,1);
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(50%, rgba(193,158,103,1)), color-stop(51%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );


}